.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  &__main,&__aside{
    padding: 10px;
    height: 100vh;
  }
  &__main {
    background-color: chocolate;
  }
  &__aside {
    background-color: salmon;
  }
}
