$bg-color: hsl(0, 0%, 11%);
$font-color: hsl(0, 0%, 100%);
$first-grid-color: rgb(230, 186, 149);
$second-grid-color: rgb(227, 202, 165);
$third-grid-color: rgb(228, 233, 190);
$fourth-grid-color: rgb(162, 179, 139);
